asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.8
dj-database-url==0.5.0
Django==3.2.9
django-ckeditor==6.2.0
django-js-asset==1.2.2
django-storages==1.12.3
dropbox==11.25.0
gunicorn==20.1.0
idna==3.3
Pillow==8.4.0
ply==3.11
psycopg2==2.9.2
python-dotenv==0.19.2
pytz==2021.3
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
stone==3.2.1
urllib3==1.26.7
whitenoise==5.3.0
