{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li><a href="https://www.linkedin.com/in/indranw/" target="_blank"><img
                            src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a></li>
                <li><a href="https://github.com/bigbisson" target="_blank"><img src="{% static 'images/github.png' %}"
                            alt="GitHub"></a></li>
                <li><a href="https://twitter.com/blank_sda" target="_blank"><img src="{% static 'images/twitter.png' %}"
                            alt="Twitter"></a></li>
                <!-- <li><a href="mailto:indra.b.nurwibisono@gmail.com"><img src="{% static 'images/inbox.png' %}" alt="Mail"></a></li> -->
            </ul>
            <div class="copyrightCol">
                <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/"
                        target="_blank">James Granger Design</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->